* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#checkout-title {
  text-align: center;
  font-family: Mon, Arial, Arial, Helvetica, sans-serif;
  margin: 1rem 0;
}

#products-preview {
  position: relative;
}
